{
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "env": {
    "es6": true,
    "meteor": true,
    "node": true,
    "browser": true
  },
  "plugins": [
    "meteor"
  ],
  "extends": [
    "airbnb",
    "plugin:meteor/recommended"
  ],
  "settings": {
    "import/resolver": "meteor"
  },
  "rules": {
    "react/prefer-stateless-function": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "no-underscore-dangle": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": [
      1,
      {
        "forbid": [
          "any"
        ]
      }
    ]
  }
}