$topBarHeight: 64px;
$bottomBarHeight: 56px;

.content {
  position: absolute;
  margin: $topBarHeight 0 $bottomBarHeight 0;
  padding: 15px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: calc(100% - #{$topBarHeight} - #{$bottomBarHeight});
  overflow-y: scroll;
}
